.css-10o2lyd-MuiStack-root{
    overflow: visible !important;
}

.css-r5in8e-MuiInputBase-root-MuiInput-root{
    width: 100px !important;
    font-size: 15px !important;
}
/* 
.css-10o2lyd-MuiStack-root>.MuiTextField-root{
    min-width: "50px" !important;
} */